*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*header nav styles starts*/
.coloring{
    background-color: pink;
}
.nav-link{
    font-size: 13px;
}
.search-btn{
 border: 1px solid rgb(218, 134, 134);
 font-size: 13px;
}
.search-placeholder{
    width: 90px;
    outline: none;
    border: 1px solid rgb(218, 134, 134);
    background-color: pink;
}
.search-placeholder:hover{
    background-color:rgb(215, 143, 157) ;
}
.buttons a{
    text-decoration: none;
    color: rgb(115, 112, 112);
}
.search-btn:hover{
    background-color: rgb(215, 143, 157);
}
.first-navbar{
    position: sticky;
    top: 0;
    z-index: 1;
}
/*header nav styles ends*/
/*banner image start*/
.banner-products{
    width: 100%;
    height: 440px;
 background-image: url("./assets/banner_of_products.jpg");

}
.product-banner-img{
    margin-top: -10px;
}
.product-banner-heading{
    color: #A98129;
    margin-top: 15px;
}
.product-banner-text{
    font-weight: 500;
    font-size: 14px;
}
/*banner image end*/
/*card start*/
.product-img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    transition: all 1.15s linear;
}
.product-img:hover{
    opacity: 0.3;
    cursor: pointer;
    transform: scale(1.02);
}

.products-text{
    color: #A98129;
    margin-top: 5px;
    cursor: pointer;
    text-decoration: none;
}
/*card end*/






/*product end start*/

.products-end{
    background-color:#f0f7ef;
    height: 300px;
}
.search-pro-btn{
 border: 1px solid black;
 background-color: #9AECDB;
 font-size: 13px;
}
.search-pro-btn>a{
    text-decoration: none;
    color: black;
}
.search-pro-btn:hover{
    font-weight: bold;
    background-color: rgb(215, 143, 157);
}
/*product end ended*/
.footer-section{
    border-top:1px solid #A98129;
}
.products-end{
    width: 100%;
    height: 500px;
 background-image: url("./assets/footer-img-pro.webp");
 background-repeat: no-repeat;
background-size: cover;
}
@media screen and (max-width: 500px) {
    .products-end{
        height: 370px;
    }
}
/* footer style starts*/
.footer-link a {
    text-decoration: none;
    color: black;
}
.footer-section{
    background-color: #9AECDB;
}
.btn-light{
    transition: .3s all ease-in-out;
}
.btn-light:hover{
    background-color: #A98129 !important;
}
#exampleInputEmail1{
    transition: all .3s linear;
}
#exampleInputEmail1:hover{
    font-size: 1.03rem;
}
.list-link{
    transition: all .3s ease-in-out;
}
.list-link:hover{
    cursor: pointer;
    color: #A98129;
}
.footer-icon{
    transition: all .4s ease-in-out;
}
.footer-icon:hover{
    background-color: #A98129;
}
/* footer style ends*/